.creation {
  margin: auto;
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
  }
  h2 {
    text-align: center;
    font-size: 40px;
    font-family: "Nanum Gothic Coding", monospace;
    color: rgb(51, 51, 51);
  }

  label {
    font-family: "Nanum Gothic Coding", monospace;
    color: cadetblue;
    font-size: 20px;
    margin-bottom: 25px;
  }

  input {
    border: 2px solid cadetblue;
    border-radius: 3px;
    height: 25px;
    width: 200px;
  }
  button {
    margin: auto;
    background-color: transparent;
    width: 400px;
    padding: 5px;
    border: 2px solid cadetblue;
    border-radius: 30px;
    color: cadetblue;
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
    letter-spacing: 2px;
    box-shadow: 5px 5px 0px cadetblue;
    margin-bottom: 2%;
    &:hover {
      box-shadow: 0px 0px 0px white;
      position: relative;
      left: 16px;
      cursor: pointer;
    }
  }
}

.baseline_link {
  margin: auto;
  font-family: "Nanum Gothic Coding", monospace;
  color: cadetblue;
  font-size: 20px;
  &:hover {
    font-size: 25px;
    font-weight: 600;
  }
}
